---
---

@import "{{ site.theme }}";

#header {
    nav {
        max-width: 1000px;
        background: none;
        li {
            a {
                color: black;
            }
        }
    }
}

section {
    max-width: 1000px;
}

.wrapper {
    max-width: 1000px;
}
